body{
    background-image: url("../images/almacen_fondo.webp");
}

.index__section__flex {
    display: flex;
    justify-content: space-around;
}

.index__form__subida {
    width: 40vw;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif, "Regular 400";
    margin: 10px 0px 40px 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(234, 238, 255);
    border: 2px solid black;
}

.index__section__productos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    input{
        text-align: center;
        margin: 0px 0px 10px 0px;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif, "Regular 400";
        width: 32vw;
        height: 25px;
    }
}

.index__section__botones {
    :hover {
        color: rgb(29, 0, 0);
        box-shadow: 0 4px 16px rgb(173, 212, 255);
        transition: all 0.2s ease;
    }
    :active {
        background-color: rgb(45, 185, 245);
        color: white;
        transition: all 0.2s ease;
    }
    input{
        border: 1.5px solid black;
        background-color: white;
        padding: 5px 3px 5px 3px;
        margin: 10px 5px 30px 5px;
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif, "Regular 400";
        width: 10vw;
    }
    button{
        border: 1.5px solid black;
        background-color: white;
        padding: 5px 3px 5px 3px;
        margin: 10px 5px 30px 5px;
        font-size: 0.9rem;
        font-family: 'Montserrat', sans-serif, "Regular 400";
        width: 15vw;
    }
}

.index__form__subida__title{
    text-align: center;
    font-family: 'Montserrat', sans-serif, "Regular 400";
}

.index__section__title{
    color: aliceblue;
    text-align: center;
    font-family: 'Montserrat', sans-serif, "Regular 400";
}
.index__section__table{
    border: solid 2px black ;
}
.index__div__flex{
    display: flex;
    justify-content: space-evenly;
}
.index__aside__table{    
    background-color: rgb(234, 238, 255);
    width: 45vw;
    margin: 10px 0px 0px 0px;
    padding: 6px 10px 4px 10px;
    border: solid 1px black;
}
.index__aside__tbody{
    text-align: center;
    font-family: 'Montserrat', sans-serif, "Regular 400";
}
.thead{
    border-bottom: 1px solid rgb(199, 196, 196);
}
#trId{
    th {
        text-align: center;
        font-family: 'Montserrat', sans-serif, "Regular 400";
        border: 0px 0px 2px 1px solid black;
    }
}
#tabla{
    button {
        border: 1.5px solid black;
        background-color: white;
        padding: 5px 3px 5px 3px;
        font-size: 0.9rem;
        font-family: 'Montserrat', sans-serif, "Regular 400";
        width: 10vw;
    }
    td {
        text-align: center;
        font-family: 'Montserrat', sans-serif, "Regular 400";
    }
}
.index__div__title{
    margin: -5px 0px 0px 0px;
    color: aliceblue;
    text-align: center;
    font-family: 'Montserrat', sans-serif, "Regular 400";
}

#index__p__animacion{
    color: aliceblue;
    text-align: center;
    font-family: 'Montserrat', sans-serif, "Regular 200";
}

#contenedorComentarios{
    div {
        margin: 3px 0px 3px 0px;
        color: aliceblue;
        text-align: center;
        font-family: 'Montserrat', sans-serif, "Regular 200";
    }
}